<div id="bin_id_{{id}}" class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-center bin-block">
	<img src="/images/bin.png" class="img-responsive"/>
	<h4 class="text-center text-primary">Capacity:{{quantity}}%</h4>
	<p class="text-center text-info">Lat:{{lat}}<br/>Long:{{long}}</p>
	<button type="button" class="btn btn-default" onclick="changeLocation({{id}})">Change Location</button>
</div>